body {
    padding: 2rem;
    background-color: aqua;
    color: azure;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-size: 2rem;
}

input,
button {
    font-size: 2rem;
    padding: 1rem;
    border-radius: 10px;
}